table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
    border: 1px solid #036288;
}
th {
    color: white;
    background-color: #036288;
}
tr:hover {
    background-color: #b4d7db;
}

button{
    width: 80px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 10px;
}